<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

  {{#if resourceLock}}
    <h1>Resource is locked please try again after a while.</h1>
  {{/if}}

  {{#unless user}}
    {{!-- <a href="auth/google">Login with google</a> --}}
    {{#if login}}
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="UserName">
      <input type="password" name="password" id="password">
      <input type="submit" value="Submit">
    </form>
    <a href="register">Register</a>
    {{/if}}
    {{#if register}}
      <form action="register" method="POST">
        <input type="text" name="username" placeholder="UserName">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" id="email">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" value="Submit">
      </form>
    {{/if}}
    
  {{/unless}}

  {{#if order}}
  <form action="/order" method="post"> 
    <input type="text" name="item">
    <input type="number" name="itemQ">
    <input type="submit" value="Submit">
  </form>
  <a href="/order/redis" target="_blank">GET Orders from redis</a>
  {{/if}}

  {{#if orderList}}
    <ul class="people_list">
      {{#each orderList}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if redisOrderList}}
        <ul class="people_list">
      {{#each redisOrderList}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if dashboard}}
  <a href="order/">Place a order</a>
  {{/if}}
  
  {{#if checkout}}
  <form action="/payment/success/" method="POST">
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key={{razorPay.dataKey}}
        data-amount={{razorPay.dataAmount}}
        data-currency="INR"
        data-order_id={{razorPay.dataOrderId}}
        data-buttontext="Pay with Razorpay"
        data-name="Acme Corp"
        data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
        {{!-- data-image="https://example.com/your_logo.jpg" --}}
        data-prefill.name="Gaurav Kumar"
        data-prefill.email="gaurav.kumar@example.com"
        data-theme.color="#F37254"
    ></script>
    <input type="hidden" custom="Hidden Element" name="hidden">
    </form>
  {{/if}}

  {{#paymentSuccess}}
    <h1>Payment Success</h1>
  {{/paymentSuccess}}
  {{#paymentFailure}}
    <h1>Payment Failure</h1>
  {{/paymentFailure}}
</body>
</html>